@import url(//db.onlinewebfonts.com/c/f2ecc6ef740fcf60de095b0b087dd58d?family=OCR+A+Extended);
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
body {
  background: #353535;
}

.landing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  background-image: url('https://i.imgur.com/kpXjE7L.png');
}

.header {
  display: flex;
  flex-direction: row;
}

.about-faq {
  position: relative;
  left: 50vmax;
  align-content: right;
}

.header > p {
  font-family: 'Century Gothic', 'Futura', 'Didact Gothic', san-serif;
  color: #ffffff;
  font-size: 2vmax;
  position: relative;
  top: -0.7vmax;
  margin: 10px;
}

.header > p > b > a {
  text-decoration: none;
  color: #ffffff;
}

.hexagon {
  margin: auto auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  padding: 0px;
}

.hexagon > img {
  width: 30vmax;
  height: 30vmax;
}

.abv-iiitm {
  font-family: 'OCR A Extended';
  font-style: normal;
  font-weight: normal;
  margin: auto;
  padding: 0px;
  font-size: 3vmax;
  line-height: 36px;
  position: relative;
  top: -20vmax;
  color: #ffffff;
}

.presents {
  font-family: OCR A Extended;
  font-style: normal;
  margin: auto;
  position: relative;
  top: -20vmax;
  padding: 0px;
  font-weight: normal;
  font-size: 2vmax;
  line-height: 26px;

  /* identical to box height */

  color: #ffffff;
}

.hackstack {
  font-family: OCR A Extended;
  padding: 0px;
  font-size: 12vmax;
  position: relative;
  top: -20vmax;
  color: #ffffff;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .hackstack {
    font-size: 8vmax;
  }
}

@media screen and (max-width: 425px) {
  .hackstack {
    font-size: 5vmax;
  }
}

.abv-iiitm,
.hackstack,
.presents {
  z-index: 100;
}

.v1 {
  font-family: OCR A Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 2vmax;
  margin: auto;
  position: relative;
  top: -20vmax;
  align-content: left;
  line-height: 31px;
  /* identical to box height */

  color: #ffffff;
}

.date {
  font-family: OCR A Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 2vmax;
  line-height: 36px;

  color: #ffffff;
  margin: auto;
  position: relative;
  top: -18vmax;
}

.register {
  background: linear-gradient(106.12deg, #b14861 0%, #36343c 100%);
  border-radius: 14px;
  width: 32%;
  height: 6vmax;
  margin: auto;
  border: none;
  font-family: OCR A Extended;
  font-size: 3vmax;
  position: relative;
  top: -14vmax;
  color: #ffffff;
}

@media screen and (max-width: 780px) {
  .register {
    font-size: 20px;
  }
}
@media screen and (max-width: 460px) {
  .register {
    font-size: 15px;
  }
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 30%;
}

.stats-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats-box > div {
  background: linear-gradient(180deg, #21ecc7 0%, rgba(72, 54, 186, 0) 100%);
  border-radius: 16px;
  margin: 5vmax;
  width: 17vmax;
  justify-content: center;
  height: 10vmax;
}

.stats-box > div > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  text-align: center;
  line-height: 10px;
  color: #ffffff;
}

.stats-box > div > .lines-of-code {
  font-size: 2vmax;
}

.timeline {
  background-color: #000000;
  padding: 0px;
  margin: 0px;
  padding: 2vmax;
}

.timeline > .schedule {
  display: flex;
  flex-direction: row;
}

.timeline > .schedule > .box-1 {
  display: flex;
  flex-direction: column;
}

.timeline > .schedule > .box-1 > .timeline-p {
  color: #ffffff;
  font-family: OCR A Extended;
  font-size: 3vmax;

  width: 30%;
}

.timeline > .schedule > .box-1 > .underline {
  border: 2px solid #ffffff;
  width: 8%;
  position: relative;
  top: -3vmax;
  left: 10%;
}

.timeline > .schedule > .box-1 > p {
  font-size: 2vmax;
}

.timeline > .schedule > .box-1 > ul {
  font-size: 1.5vmax;
}

.timeline > .schedule > .box-1 > p,
.timeline > .schedule > .box-1 > ul {
  font-family: OCR A Extended;
  color: #ffffff;
  list-style-type: none;
}

.timeline > .schedule > .box-1 > .underline2 {
  border: 1px solid #ffffff;
  position: relative;
  top: -100px;
}

.timeline > .schedule > .box-2 {
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20%;
  top: 11vmax;
  width: 5vmax;
  height: 2vmax;
}

.timeline > .schedule > .box-2 > img {
  width: 30vmax;
  height: 30vmax;
}
.tracks {
  overflow: hidden;
}

.tracks > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 30%;
}

.tracks > .tracks-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 396px) {
  .tracks,
  .sponsors {
    max-height: 550px;
  }
}

@media screen and (max-width: 396px) {
  .faqs {
    max-height: 650px;
  }
}

.tracks {
  height: 100%;
}

.tracks > .tracks-boxes > .tracks-box > .image {
  background: linear-gradient(180deg, #1ba3ce 0%, rgba(191, 0, 239, 0) 100%);
  border-radius: 3vmax;
  width: 10vmax;
  height: 10vmax;
  display: flex;
  margin: auto;
}

.tracks > .tracks-boxes > .tracks-box > .image > img {
  margin: auto;
  width: 5vmax;
  height: 6vmax;
}

.tracks > .tracks-boxes > .tracks-box {
  display: flex;
  flex-direction: column;
  margin: 2vmax;
  width: 17vmax;
}

.tracks > .tracks-boxes > .tracks-box > p {
  text-align: center;
  color: #ffffff;
  font-family: OCR A Extended;
  font-size: 1vmax;
}

.sponsors > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 30%;
}

.sponsors > .sponsors-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.sponsors > .sponsors-boxes > .sponsors-box {
  background-color: antiquewhite;
  border-radius: 3vmax;
  width: 10vmax;
  height: 10vmax;
  display: flex;
  margin: auto;
}

.sponsors > .sponsors-boxes > .sponsors-box {
  display: flex;
  flex-direction: column;
  margin: 4vmax;
}

.underline-3 {
  background-color: #ffffff;
  width: 80%;
  margin: auto;
  height: 1px;
}

.faqs > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 10%;
}

.faqs > .faqs-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.faqs > .faqs-box > ul > .ques {
  font-family: OCR A Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 2vmax;
  line-height: 36px;
  letter-spacing: 0.1em;

  color: #ee856e;
}

.faqs > .faqs-box > ul {
  list-style-type: none;
}

.faqs > .faqs-box > ul > ul > .ans {
  font-family: OCR A Extended;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vmax;
  line-height: 36px;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.faqs > .faqs-box > ul > ul {
  list-style-type: none;
}

.heading > header {
  margin: 0px;
  padding: 0px;
}

.heading > .header > img {
  width: 4%;
  height: 4%;
}

.prize {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}

.inner {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.prize > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 30%;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.prize > .inner > .text {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 30%;
  font-size: 2vmax;
}

.prize > .inner > .img {
  width: 50%;
  height: 50%;
  margin-left: 20vmax;
}
.prize > .inner > .img > img {
  width: 100%;
  height: 100%;
}

.prize > .inner > .text > .category > h4 {
  font-family: OCR A Extended;

  border-radius: 10px;
  height: 30px;
  padding: 10px;
  text-align: right;
}

.prize > .inner > .text > .category > .k12 {
  background: linear-gradient(180deg, #fe94cd 0%, rgba(0, 0, 0, 0) 100%);
  width: 50%;
}
.prize > .inner > .text > .category > .k15 {
  background: linear-gradient(180deg, #fe94cd 0%, rgba(0, 0, 0, 0) 100%);
  position: relative;
  top: -4vmax;
  width: 70%;
}

.prize > .inner > .text > .category > .k18 {
  background: linear-gradient(
    180deg,
    #28fe71 0%,
    rgba(128, 255, 171, 0.375) 62.5%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 10px;
  position: relative;
  top: -2vmax;
}

.footer {
  background-color: #000000;
}

.footer > .display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4vmax;
}

.footer > p {
  font-family: OCR A Extended;
  font-size: 3vmax;
  color: #ffffff;
  position: relative;
  left: 14%;
  width: 30%;
}

.footer > .display > .box {
  border-radius: 3vmax;
  width: 3vmax;
  height: 3vmax;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
}

.footer > .display > .box > a > .social {
  width: 100%;
  height: 100%;
}

.footer > .maps-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer > .maps-contact > .map {
  margin-left: 10vmax;
  margin-right: 10vmax;
  width: 30vmax;
}

.footer > .maps-contact > .map > iframe {
  border-radius: 10px;
}

.footer > .maps-contact > .contact {
  margin-left: 10vmax;
  margin-top: 1vmax;
}

.footer > .maps-contact > .underline {
  background-color: #ffffff;
  height: 10vmax;
  width: 1px;
  transform: rotate(90deg);
}

.footer > .maps-contact > .contact {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
